// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}
.el-dialog__header{
  height: 48px;
    line-height: 48px;
    padding: 0 10px;
    background: #F0F4F7;
    border-radius: 4px;
}
.el-dialog__headerbtn{
  top:15px;
}
.el-dialog__title{
  font-size: 16px;
}
.el-dialog{
  border-radius: 4px;
}
.el-form-item{
  margin-bottom: 20px;
}
.disable{
  color:#C0C4CC;
}
.del,.red{
  color:#F56C6C;
}