.organizational{
    width: 1320px;
    height: calc(100vh - 92px);
    margin: 0 auto;
    margin-top:20px;
    .departlist{
        li{
            padding: 12px 12px;
            color: #585F65;
        }
        & :hover{
            cursor: pointer;
        }
        & .selectedli{
            background:rgba(240,244,247,1);
            color:#096DD9;
            font-weight: bold;
            .el-dropdown{
                color:#096DD9;
            }
        }

    }
    .setname i{
       color: #3A454B; 
       font-size: 16px;
    }
    .leftbar{
        width: 300px;
        margin-right:20px;
        background: #ffffff;
        height: 100%;
        padding: 12px 12px 0 12px;
        .title{
            padding:20px 0 14px 0;
            color: #3A454B;
            .titlename{
                cursor: pointer;
            }
        }
        .realion{
            font-weight: normal;
            color:#585F65;
        }
        .departlist {
            margin: 0;
        }
    }
    .rightbar{
        width: 1000px;
        background: #ffffff;
        height: 100%;
        // padding-top:40px;
        li{
            line-height: 1;
        }
        .rightshowpage{
            height:100%;
        }
        .rightmenu{
            width: 200px;
            height: 100%;
            overflow-y: scroll;
            padding: 40px 12px 0 12px;
            scrollbar-width: none; // firefox下滚动条不显示
            -ms-overflow-style:none; // IE下滚动条不显示
            //设置侧边栏滚动条不显示 chrome
            &::-webkit-scrollbar {
                display: none;
            }
            .menutitle{
                font-size: 16px;
                color: #3A454B;
                font-weight: bold;
                padding-left: 11px;
                font-family: MicrosoftYaHei-Bold;
            }
            .childmunulist{
                margin: 12px -12px -12px;
                background: #fff;
                padding-left: 12px;
                li{
                    padding:12px;
                    font-weight: normal;
                }
                li.selectedli{
                    font-weight: bold;
                }
                .iscselect{
                  color:#096DD9;
                }
            }
        }
        .rightres{
            width: 799px;
            height: 100%;
            overflow-y: scroll;
            border-left: 1px solid #eeeeee;
            padding:40px 20px 0 20px;
            position: relative;
            scrollbar-width: none; // firefox下滚动条不显示
            -ms-overflow-style:none; // IE下滚动条不显示
            //设置侧边栏滚动条不显示 chrome
            &::-webkit-scrollbar {
                display: none;
            }
            .rightrestitle{
                border-bottom: 1px solid #F4F5F7;
                overflow: hidden;
                padding: 0 12px 15px 12px;
                font-size: 16px;
                font-weight: bold;
                color: #3A454B;
            }
            .restable{
                i{
                    font-size: 16px;
                }
                .avafont{
                    line-height: 36px;
                    margin-left: 12px;
                }
            }
            .resnull{
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -60px;
                margin-left: -60px;
                i{
                    font-size: 120px;
                    color: #8DBAFF;
                }
                p{
                    text-align:center;
                    color: #999999;
                }
            }
            
        }
    }
    .el-select{
        width: 100%;
    }
    .el-dialog__footer{
        text-align: center;
    }
}